
  <ion-content padding>
    <ion-slides pager style="height: 40%">

        <ion-slide style="background-color: green">
          <h2>Slide 1</h2>
        </ion-slide>
      
        <ion-slide style="background-color: blue">
          <h2>Slide 2</h2>
        </ion-slide>
      
        <ion-slide style="background-color: red">
          <h2>Slide 3</h2>
        </ion-slide>
      
      </ion-slides>

<ion-list>
<ion-item>
  <p>You have <b>{{tradeBalance}}</b> {{tradeCurrency}}(${{getTradeBalanceUSDT()}} USD)<br>
     and <b>{{baseBalance}}</b> {{baseCurrency}}(${{getBaseBalanceUSDT()}})</p>

     <p *ngIf="isBuyMode">You are about to buy <b>{{getTradeAmount()}}</b> {{tradeCurrency}}<br>
     for <b>{{getBaseAmount()}}</b> {{baseCurrency}}(${{getBaseAmountUSDT()}} USD)<br>
    at a price of <b>{{getLimitPrice()}}</b> {{tradeCurrency}}/{{baseCurrency}}(${{getTradePriceUSDT()}} USD)</p>

    <p *ngIf="!isBuyMode">You are about to sell <b>{{getBaseAmount()}}</b> {{baseCurrency}}<br>
      for <b>{{getTradeAmount()}}</b> {{tradeCurrency}} (${{getBaseAmountUSDT()}} USD)<br>
     at a price of <b>{{getLimitPrice()}}</b> {{tradeCurrency}}/{{baseCurrency}}(${{getTradePriceUSDT()}} USD)</p>
  </ion-item>

<ion-item>
  <ion-toggle [(ngModel)]="isBuyMode" item-start float-left></ion-toggle>

  <ion-select [(ngModel)]="baseCurrency" (ionChange)="onBaseSelect($event)" interface="popover" float-right style="margin-right:10px;">
    <ion-option *ngFor="let o of baseData" [value]="o">{{o}}</ion-option>
  </ion-select>

  <ion-select [(ngModel)]="tradeCurrency" (ionChange)="onCoinSelect($event)" interface="popover" float-right >
    <ion-option *ngFor="let o of coinData" [value]="o">{{o}}</ion-option>
  </ion-select>
 
</ion-item>

<ion-item>
  <ion-range min="1" max="100" [(ngModel)]="limitPercentage" color="secondary">
    <ion-icon range-left small >$</ion-icon>
    <ion-icon range-right>$</ion-icon>
  </ion-range>
</ion-item>

<ion-item>
  <ion-range min="1" max="100" pin="true" [(ngModel)]="balancePercentage" color="secondary">
    <ion-icon range-left small>%</ion-icon>
    <ion-icon range-right>%</ion-icon>
  </ion-range>
</ion-item>
</ion-list>

<p>
  <button ion-button (click)="button1($event)" style="width: 47%">{{getMode()}}</button>
  <button ion-button float-right style="width: 47%">{{getButton2Text()}}</button>
</p>
</ion-content>
