
  <ion-content padding>
    <ion-slides pager style="height: 40%">

        <ion-slide style="background-color: green">
          <h2>Slide 1</h2>
        </ion-slide>
      
        <ion-slide style="background-color: blue">
          <h2>Slide 2</h2>
        </ion-slide>
      
        <ion-slide style="background-color: red">
          <h2>Slide 3</h2>
        </ion-slide>
      
      </ion-slides>

<ion-list>
<ion-item>
  <p>You have {{tradeBalance}} {{tradeCurrency}}(${{getTradeBalanceUSDT()}} USD)<br>
     and {{baseBalance}} {{baseCurrency}}(${{getBaseBalanceUSDT()}})<br>
    You are about to buy {{getTradeAmount()}} {{tradeCurrency}}<br>
     for {{getBaseAmount()}} {{baseCurrency}}(${{getBaseAmountUSDT()}} USD)<br>
    at a price of {{getLimitPrice()}} {{baseCurrency}}(${{getTradePriceUSDT()}} USD)</p>
  </ion-item>

<ion-item>
  <ion-toggle [(ngModel)]="mode" item-start float-left></ion-toggle>

  <ion-select [(ngModel)]="baseCurrency" (ionChange)="onBaseSelect($event)" interface="popover" float-right style="margin-right:10px;">
    <ion-option *ngFor="let o of baseData" [value]="o">{{o}}</ion-option>
  </ion-select>

  <ion-select [(ngModel)]="tradeCurrency" (ionChange)="onCoinSelect($event)" interface="popover" float-right >
    <ion-option *ngFor="let o of coinData" [value]="o">{{o}}</ion-option>
  </ion-select>
 
</ion-item>

<ion-item>
  <ion-range min="1" max="100" [(ngModel)]="limitPercentage" color="secondary">
    <ion-icon range-left small >$</ion-icon>
    <ion-icon range-right>$</ion-icon>
  </ion-range>
</ion-item>

<ion-item>
  <ion-range min="1" max="100" pin="true" [(ngModel)]="balancePercentage" color="secondary">
    <ion-icon range-left small>%</ion-icon>
    <ion-icon range-right>%</ion-icon>
  </ion-range>
</ion-item>
</ion-list>

<p>
  <button ion-button (click)="button1($event)" style="width: 47%">Buy</button>
  <button ion-button float-right style="width: 47%">Fomo Buy</button>
</p>
</ion-content>
